/* 
MA5 jquery mobile menu component 
v2.1.2
GitHub: https://github.com/ma-5/ 
*/
$ma5-menu-color-primary: #728f3a;
$ma5-phone-desktop-breakpoint: 768px;
$ma5-mobile-menu-color1: darken($ma5-menu-color-primary, 4%); // background, panel right border
$ma5-mobile-menu-color2: rgba(0, 0, 0, 0.05); // shadow
$ma5-mobile-menu-color3: lighten($ma5-menu-color-primary, 4%); // li separator
$ma5-mobile-menu-color4: lighten($ma5-menu-color-primary, 4%); // buttons enter leave bg
$ma5-mobile-menu-color5: #fff; // path to active color
$ma5-mobile-menu-color6: lighten($ma5-menu-color-primary, 4%); // close bar background and border
$ma5-mobile-menu-color7: #a3b978; // links color
$ma5-mobile-menu-color8: lighten($ma5-menu-color-primary, 12%); // toggle menu bg

@-webkit-keyframes ma5-panelIn {
    0% {
        -webkit-transform: translate3d(-280px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes ma5-panelIn {
    0% {
        -ms-transform: translate3d(-280px, 0, 0);
    }
    100% {
        -ms-transform: translate3d(0, 0, 0);
    }
}

@keyframes ma5-panelIn {
    0% {
        transform: translate3d(-280px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes ma5-panelOut {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-280px, 0, 0);
    }
}

@-ms-keyframes ma5-panelOut {
    0% {
        -ms-transform: translate3d(0, 0, 0);
    }
    100% {
        -ms-transform: translate3d(-280px, 0, 0);
    }
}

@keyframes ma5-panelOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-280px, 0, 0);
    }
}

.ma5-menu-mobile {
    > ul {

        @media (max-width: ($ma5-phone-desktop-breakpoint - 1)) {
            display: none;
        }
    }
}

.ma5-toggle-menu {
    cursor: pointer;

    .glyphicon {
        font-size: 12px;
        margin-left: 5px;
        -webkit-transform: scale(1.4, 1);
        transform: scale(1.4, 1);
    }
}

.ma5-mobile-menu-container {
    -webkit-transform: translate3d(-280px, 0, 0);
    -ms-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s ease-out 0s;
    transition: transform 0.4s ease-out 0s;
    position: fixed;
    background-color: $ma5-mobile-menu-color1;
    width: 280px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 200;
    line-height: 1.375;
}

.ma5-page {
    -webkit-transition: -webkit-transform 0.4s ease-out 0s;
    transition: transform 0.4s ease-out 0s;
    overflow: hidden;
}

.ma5-menu-active {
    overflow: hidden;

    height: 100%;

    &.ma5-menu-swipe {
        .ma5-mobile-menu-container {
            top: 0;
            margin-top: 0;
            overflow: visible;
        }
    }
    > body {
        overflow: hidden;
        overflow-y: scroll;
        height: 100%;
    }
    .ma5-page {
        margin-right: -16.8px;
        -webkit-transform: translate3d(280px, 0, 0);
        -ms-transform: translate3d(280px, 0, 0);
        transform: translate3d(280px, 0, 0);
        -webkit-transition: -webkit-transform 0.4s ease-out 0s;
        transition: transform 0.4s ease-out 0s;

        @media (max-width: ($ma5-phone-desktop-breakpoint - 1)) {
            height: 100%;
            overflow: hidden;
        }
    }
    .ma5-mobile-menu-container {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.4s ease-out 0s;
        transition: transform 0.4s ease-out 0s;
    }

}

.ma5-menu-active .ma5-mobile-menu-container {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.4s ease-in 0s;
    transition: transform 0.4s ease-in 0s;
}

.ma5-menu-active .ma5-page {
    -webkit-transform: translate3d(280px, 0, 0);
    -ms-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s ease-in 0s;
    transition: transform 0.4s ease-in 0s;
}

.ma5-menu-panel {
    width: 280px;
    height: 80%;
    height: calc(100% - 50px);
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 100;
    background-color: $ma5-mobile-menu-color1;
    -webkit-box-shadow: -8px 0 8px $ma5-mobile-menu-color2 inset;
    -ms-box-shadow: -8px 0 8px $ma5-mobile-menu-color2 inset;
    box-shadow: -8px 0 8px $ma5-mobile-menu-color2 inset;
}

.ma5-menu-panel:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: $ma5-mobile-menu-color1;
}

.ma5-menu-panel li {
    position: relative;
    padding-right: 50px;
    margin-bottom: -1px;
    font-size: 0;
}

.ma5-menu-panel li:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $ma5-mobile-menu-color3;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ma5-menu-panel a {
    display: inline-block;
    padding: 15px;
    text-decoration: none !important;
    color: $ma5-mobile-menu-color7;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    outline: none !important;
}

.ma5-menu-panel .ma5-btn-enter, .ma5-menu-panel .ma5-btn-leave {
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    padding: 15px 15px 14px 15px;
    width: 50px;
    overflow: hidden;
    left: 0;
    top: 0;
    text-align: center;
    background-color: $ma5-mobile-menu-color4;
    color: $ma5-mobile-menu-color7;
}

.ma5-menu-panel .ma5-btn-enter .glyphicon, .ma5-menu-panel .ma5-btn-leave .glyphicon {
    top: 2px;
}

.ma5-menu-panel .ma5-btn-enter {
    z-index: 0;
    left: auto;
    right: 0;
}

.ma5-menu-panel .ma5-leave-bar {
    font-size: 16px;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 15px 20px 15px 60px;
    margin-right: -50px;
    text-align: center;
    color: $ma5-mobile-menu-color5;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ma5-menu-panel .ma5-leave-bar:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $ma5-mobile-menu-color3;
}

.ma5-menu-panel:first-of-type {
    z-index: 160;
}

.ma5-menu-panel.ma5-active-ul {
    z-index: 170;
}

.ma5-menu-panel .ma5-active-li a, .ma5-menu-panel .ma5-path-to-active {
    color: $ma5-mobile-menu-color5;
}

.ma5-menu-panel.ma5-parent-leave, .ma5-menu-panel.ma5-parent-enter {
    z-index: 180;
}

.ma5-menu-panel.ma5-active-leave, .ma5-menu-panel.ma5-active-enter {
    z-index: 190;
}

.ma5-menu-panel.ma5-active-enter {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: ma5-panelIn;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-name: ma5-panelIn;
}

.ma5-menu-panel.ma5-active-leave {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: ma5-panelOut;
    animation-timing-function: ease-out;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-name: ma5-panelOut;
}

.ma5-close-bar {
    padding: 7px 5px;
    border-bottom: 1px solid darken($ma5-mobile-menu-color6, 8%);
    height: 50px;
    text-align: center;
    background-color: $ma5-mobile-menu-color6;

    .ma5-toggle-menu {
        position: static;
        display: inline-block !important;
    }
}

.ma5-toggle-menu {
    position: static;
    background-color: $ma5-mobile-menu-color8 !important;
    border-color: $ma5-mobile-menu-color8 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ma5-menu-overflow {
    overflow-x: hidden !important;
}

.ma5-hidden-phone {
    @media (max-width: ($ma5-phone-desktop-breakpoint - 1)) {
        display: none;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: $ma5-phone-desktop-breakpoint) {
    .ma5-toggle-menu {
        display: none;
    }
    .ma5-menu-active {
        overflow: visible;
    }
    .ma5-menu-active body {
        overflow: visible;
    }
    .ma5-menu-active .ma5-page {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .ma5-menu-active .ma5-mobile-menu-container {
        -webkit-transform: translate3d(-280px, 0, 0);
        -ms-transform: translate3d(-280px, 0, 0);
        transform: translate3d(-280px, 0, 0);
    }
}
